<mat-toolbar color="primary">

    <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-fab color="primary" aria-label="Example icon button with a home icon" class="btn" routerLink="/home">
        <mat-icon> home</mat-icon>
     </button>
    <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align: center;" > Amazkart </span>
    <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="float: right;">
      <mat-icon>share</mat-icon>
    </button> 
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">hello</mat-sidenav>
    <mat-sidenav-content>main

    </mat-sidenav-content>
  </mat-sidenav-container>

